@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
    height: 100%;
    width: 100%;
    margin: 4px;
    padding: 0;
    font-family: "Leckerli One", serif;
    font-weight: 400;
    font-style: normal;
   
    justify-items: center;
    
}
.container{
    width: 100%;
    height: 100%;
    outline: auto 5px;
    border-radius: 6px;
    box-sizing: border-box;
    max-width: 700px;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: 100%;
    /* align-items: center; */
}
.icon-grass{
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 30px;
    color: burlywood;
    margin-left: 10px;
    padding-right: 14px;
}
.right-header{
    color: burlywood;
    display: flex;
    margin-left: auto;
   justify-content: space-evenly;
    gap: 10px;
    margin-right: 10px;
}
.body-boxes{
    justify-items: center;
}
#bigger-box{
    background-color: #001B2E;
    width: 90%;
    height: 100px;
    margin: 20px auto;
    border-radius: 8px;
}

#smaller-box{
    background-color:  #001B2E;
    width: 90%;
    height: 25px;
    border-radius: 8px;
    margin: 10px auto;
}
.body-text{
    display: flex;
    justify-content: space-evenly;
}
.column{
    font-size:x-large;
}
.footer{
    display: flex;
    margin: 0;
    padding-bottom: 0;
}

.box{
    background-color: #001B2E;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10%;
}
.wrapper{
    position: fixed;
    border-radius: 10px;
    height: 300px;
    bottom: 50px;
    right: -100vw;
    max-width: 280px;
    width: 100%;
    background-color:#000000 ;
    transition: right 0.9s ease;
}
.wrapper.show{
    right:2%;
}
@media (min-width: 768px) {
    .wrapper.show {
        right: 28%; 
    }
}
.icon-cookie {
 color: whitesmoke;
 transform:rotateY(180deg);
 scale: 3;
 margin: 40px;
}
.x-icon{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; 
    font-size: 20px;    
    position: absolute;
    top: 15px;
    right: 15px;
}

.wrapper .data p {
    color: white;
    font-size: 20px;
    width: 150px;
    margin-left: 20px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    width: 80%;
    color: whitesmoke;
    background-color: #001B2E;
    font-family: "Leckerli One", serif; 
    font-size: 20px;
     border-radius: 10px; 
     border: none;
     cursor: pointer;
     transition: all 0.2 ease;
}
.button:hover{
    background-color: burlywood;;
}